body{
    background: #666600;
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 20px;
}

#header{
    padding: 10px;
    background: #CCCC99;
    width:80%;
    margin: 0 auto;
}

#header>#config{
    float: right;
}

#content{
    background: #FFFF99;
    padding: 10px;
    height: 450px;
    width:80%;
    margin: 0 auto;
}

#content>#title{
    padding: 5px;
    margin: 0 0 5px 0;
    text-align: center;
}

#content>#navigation{    
    background: #CCCC99;
    height: 30px;
    width: auto;
}

#footer{
    background: #CCCC99;
    padding: 10px;
     width:80%;
     margin: 0 auto;
}

input, select {
    border: 2px solid white; 
    border-color: #CCCC66;
    -webkit-box-shadow: 
        inset 0 0 4px  rgba(0,0,0,0.1),
        0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
        inset 0 0 4px  rgba(0,0,0,0.1),
        0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
        inset 0 0 4px  rgba(0,0,0,0.1),
        0 0 8px rgba(0,0,0,0.1); 
    padding: 7px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 16px;
}

.button {
    background-color: #99CC66;
    border: 1px solid #bbbbbb;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 2px 2px 3px #cccccc;
    -webkit-box-shadow: 2px 2px 3px #cccccc;
    box-shadow: 2px 2px 3px #cccccc;
    text-decoration: none;
    color: #3d3d3d;
    font-family: Calibri, Verdana, Arial, sans-serif;
    font-size: 18px;
    outline: none;
    padding: 3px 10px;
}

.button:hover {
    background-color: #CCFF99;
    -moz-box-shadow: 2px 2px 3px #cccccc inset;
    -webkit-box-shadow: 2px 2px 3px #cccccc inset;
    box-shadow: 2px 2px 3px #cccccc inset;
}
